<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa kohdetta</title>
</head>

<body>
  <h1>Kohteen muokkaus</h1>
  <form action="/update_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" value="{{ item.title }}"/>
    </p>
    <p>
      Osoite: <br />
      <input type="text" name="link" value="{{ item.link }}"/>
    </p>
    <p>
      Media tyyppi: <br />
      <input type="radio" name="media_type" value="1"
        {% if item.media_type == "1" %}checked{% endif %} /> TV-sarja
      <input type="radio" name="media_type" value="2"
        {% if item.media_type == "2" %}checked{% endif %} /> Manga
      <input type="radio" name="media_type" value="3"
        {% if item.media_type == "3" %}checked{% endif %} /> Anime
      <input type="radio" name="media_type" value="4"
        {% if item.media_type == "4" %}checked{% endif %} /> LN
    </p>
    <p>Kuvaus: <br />
      <textarea name="descriptions" rows="3" cols="50">{{ item.descriptions }}</textarea>
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <input type="submit" value="Päivitä kohde" />
  </form>
  {% include "footer.html" %}
</body>

</html>