<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa kohdetta</title>
</head>

<body>
  <h1>Kohteen muokkaus</h1>
  <form action="/update_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" value="{{ item.title }}" maxlength="100" required/>
    </p>
    <p>
      Osoite: <br />
      <input type="text" name="link" value="{{ item.link }}"/>
    </p>
    {% for class in all_classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</a>: <br />
    <select name="classes" id="class{{ class}}">
      <option value="">(valitse)</option>
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endfor %}
    <p>Kuvaus: <br />
      <textarea name="descriptions" rows="8" cols="50" maxlength="1000" required>{{ item.descriptions }}</textarea>
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Päivitä kohde" />
  </form>
  {% include "footer.html" %}
</body>

<style>
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

</html>