<!DOCTYPE html>
<html>

<head>
  <title>Hae kohteita</title>
</head>

<body>
  <h1>Hae kohteita</h1>
  <form action="/find_item" method="get">
    <p>
      Hakusana: <input type="text" name="query" value="{{ query }}"/>
    </p>
    <input type="submit" value="Hae" />
  </form>

  {% if query %}
  <h2>Tulokset</h2>
    <ul>
        {% for result in results %}
        <li><a href="item/{{ result.id }}">{{ result.title }}</a></li>
        {% endfor %}
    </ul>
  {% endif %}

  {% include "footer.html" %}
</body>

</html>