<!DOCTYPE html>
<html>

<head>
  <title>EntertainmentMediaSub</title>
</head>

<body>
  <h1>EntertainmentMediaSub</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p style="color: green;">
          {{ message }}
        </p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <p>
    Tervetuloa <b>Entertainment Media Sub:iin</b>!
  </p>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <h2>Seurattavat kohteet</h2>
    <ul>
        {% for item in items %}
        <li><a href="item/{{ item.id }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
  {% endif %}
  {% include "footer.html" %}
</body>

<style>
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

</html>