<!DOCTYPE html>
<html>

<head>
  <title>Uusi seurattava kohde</title>
</head>

<body>
  <h1>Uusi seurattava kohde</h1>
  {% if error %}
  <p style="color: red;">
    {{ error }}
  </p>
  {% endif %}
  {% if message %}
  <p style="color: green;">
    {{ message }}
  </p>
  {% endif %}
  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="100" required/>
    </p>
    <p>
      Osoite: <br />
      <input type="text" name="link" />
    </p>
    {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
    <p>Kuvaus: <br />
      <textarea name="descriptions" rows="8" cols="50" maxlength="1000" required></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Luo seurattava kohde" />
  </form>
  {% include "footer.html" %}
</body>

<style>
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

</html>