<!DOCTYPE html>
<html>

<head>
  <title>{{  item.title }}</title>
</head>

<body>
  <h1>{{  item.title }}</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p style="color: green;">
          {{ message }}
        </p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% if session.user_id == item.user_id %}
  <p style="color: red;">
    <li><a href="/remove_item/{{ item.id }}">Poista</a></li>
  </p>
  <p style="color: blue;">
    <li><a href="/edit_item/{{ item.id }}">Muokkaa</a></li>
  </p>
  {% endif %}
  <p>
    Linkki: {{ item.link}}
  </p>
  {% if classes %}
    {% for class in classes %}
    <li>{{ class.title}}: {{ class.value }}</li>
    {% endfor %}
  {% endif %}
  <p>
    Kuvaus: {{ item.descriptions}}
  </p>
  <p>
    Lisääjä: <a href="/user/{{ item.user_id }}">{{ item.username}}</a>
  </p>
  <h3>Kommentit</h3>
  <ul>
    {% for comment in comments %}
    <p>
      {{ comment.comment }}
    </p>
    <p>
      <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a>
    </p>
    {% endfor %}
  </ul>
  {% if session.user_id %}
  <h3>Lisää kommentti</h3>
  <form action="/create_comment" method="post">
    <p>Kuvaus: <br />
      <textarea name="comment" rows="8" cols="50" maxlength="500" required></textarea>
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Kommentoi" />
  </form>
  {% endif %}
  {% include "footer.html" %}
</body>

</html>